fastapi==0.117.1
uvicorn[standard]==0.37.0
SQLAlchemy[async]==2.0.43
asyncpg==0.30.0
alembic==1.16.5
pydantic[email]==2.11.9
python-dotenv==1.1.1
passlib == 1.7.4
bcrypt  == 5.0.0
redis[asyncio]==6.4.0
PyJWT==2.10.1
elasticsearch[async]==8.15.1

